<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-center d-flex">
    <div class="content-container justify-content-center">
      <% if @team.member_ids.empty? %>
        <p>YOUR TEAM DOESN'T HAVE ANY MEMBERS JET...</p>
        <div class="btn-black">
          <%= link_to "ADD MEMBER", new_team_member_path(@team) %>
        </div>
      <% else %>
        <table style="margin-bottom: 20px">
          <% @members.each_with_index do |member, index| %>
          <% if member.team_id == @team.id %>
            <tr>
              <td style="padding-right: 10px">
                <%= index + 1 %>.
              </td>
              <td id="member-name">
                <%= member.name %>
              </td>
              <td>
                <%= simple_form_for ([@team, @members.find(member.id)]) do |f| %>
                  <div class="details-one d-flex">
                    <%= f.check_box :active_member, class: "check_box", onchange: 'this.form.submit();'%>
                  <% end %>
                  </div>
              </td>
              <td>
                <%= link_to team_member_path(member), method: :delete, data: { confirm: "Are you sure?" }, class: "logout" do %>
                  <span class="material-icons" style="font-size: 12px">
                    clear
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% end %>
        </table>
      <% end %>

      <div class="btn-black">
        <%= link_to "ADD MEMBER", new_team_member_path(@team) %>
      </div>

    </div>
  </div>
</div>




