<% if user_signed_in? %>
  <%= render 'shared/selected_team' %>
<% end %>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-md-center">

    <div class="function-container d-flex">

      <div class="function" style="background-image: url(https://res.cloudinary.com/siggimsiggi/image/upload/v1593874126/v1_an8lsw.png); background-repeat: no-repeat;" >
        <%= link_to "GROUP", group_path %>
        <%#= image_tag 'v1.png' %>
      </div>

      <div class="function" style="background-image: url(https://res.cloudinary.com/siggimsiggi/image/upload/v1593874126/v4_dmaqka.png); background-repeat: no-repeat;">
        <%= link_to "ORDER", order_path %>
        <%#= image_tag 'v2.png' %>
     </div>

     <div class="function" style="background-image: url(https://res.cloudinary.com/siggimsiggi/image/upload/v1593874126/v3_ldlkrl.png); background-repeat: no-repeat;">
      <%= link_to "PICK", pick_path %>
      <%#= image_tag 'v3.png' %>
    </div>

    <div class="function" style="background-image: url(https://res.cloudinary.com/siggimsiggi/image/upload/v1593874126/v2_hdlrhi.png); background-repeat: no-repeat;">
      <%= link_to "SURPRISE", surprise_path %>
      <%#= image_tag 'v4.png' %>
    </div>

<a href=""></a>
  </div>

</div>
