<% if user_signed_in? %>
  <%= render 'shared/selected_team' %>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12 col-sm-12 justify-content-center">

    <div class="function-container d-flex align-content-stretch flex-wrap">

      <div class="function" id="fun-1">
        <%= link_to "GROUP", group_path %>
        <%#= image_tag 'v1.png' %>
      </div>

      <div class="function" id="fun-2">
        <%= link_to "ORDER", order_path %>
        <%#= image_tag 'v2.png' %>
     </div>

     <div class="function" id="fun-3">
      <%= link_to "PICK", pick_path %>
      <%#= image_tag 'v3.png' %>
    </div>

    <div class="function" id="fun-4">
      <%= link_to "SURPRISE", surprise_path %>
      <%#= image_tag 'v4.png' %>
    </div>

  </div>
</div>
